<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>BRN Souls</title>
</head>

<body>
    <header>
        <img src="./assets/img/logo_brn.png" alt="Logo BRN" class="logo_brn">
        <nav class="dp-menu">
            <ul>
                <li><a href="">DARK SOULS TRIOLOGIA</a>
                    <ul>
                        <li><a href="">DARK SOULS I</a></li>
                        <li><a href="">DARK SOULS II</a></li>
                        <li><a href="">DARK SOULS III</a></li>
                    </ul>
                </li>
                <li><a href="">ELDEN RING</a></li>
                <li><a href="">SEKIRO</a></li>
                <li><a href="">HOLLOW KNIGHT</a></li>
                <li>BLOODBORN
                    <ul>
                        <li>Apenas quando estiver disponivel no PC</li>
                    </ul>
                </li>
            </ul>

        </nav>
        <input type="search" name="buscar" id="search" placeholder="Pesquisar">
    </header>
    <main>
        <h1>Bem vindo a BRN Souls</h1>
        <p>Minha página dedicada a Soulslike</p>
        <div>
            <h2>Texto genérico mesmo</h2>
            <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam velit eros, pretium id lectus ut, auctor
                blandit libero. Maecenas eleifend sagittis elit, et consequat est ornare ut. Mauris consequat commodo
                purus
                et tristique. Nulla elit leo, vestibulum vitae lorem sed, varius mattis magna. Sed semper aliquam magna
                ac
                euismod. Phasellus erat nunc, venenatis id sollicitudin quis, consequat ut ante. Sed molestie faucibus
                nibh.
                Mauris lorem sapien, ornare nec diam in, varius dapibus nulla. Maecenas quis velit sed sapien semper
                imperdiet ut eu ante. Mauris ut felis in dui mollis finibus. Nunc luctus non ligula quis vehicula.

                Sed ut nunc interdum, aliquet tellus viverra, scelerisque purus. Praesent et dolor scelerisque, luctus
                dolor
                sed, suscipit dui. Praesent quis felis eu lectus condimentum feugiat. Aliquam viverra, risus nec
                ultrices
                vulputate, risus nunc porttitor sapien, tempus scelerisque neque mauris nec enim. In euismod eleifend
                magna,
                ac accumsan mi pretium eget. Aenean nisi ante, consequat eget risus vel, hendrerit dapibus orci. Mauris
                venenatis nisl nec diam hendrerit, consequat commodo nibh luctus. Proin congue eros hendrerit, fringilla
                augue nec, ornare risus. Pellentesque lacus purus, ullamcorper nec sollicitudin sit amet, scelerisque ac
                odio. Cras et urna ut dui sollicitudin tincidunt. Class aptent taciti sociosqu ad litora torquent per
                conubia nostra, per inceptos himenaeos. Quisque id rutrum nisi, id aliquet leo. Aliquam dignissim
                vehicula
                elit, ut blandit erat dictum dictum. Pellentesque varius tellus mauris, at convallis eros vulputate ut.
                Mauris in tempor justo. Praesent tincidunt, neque quis placerat ornare, sapien mi mollis risus, vitae
                semper
                ligula felis convallis mi.

                Vestibulum nulla risus, cursus non libero sed, interdum tincidunt velit. Nunc ullamcorper velit sed odio
                convallis pretium. Pellentesque quis tellus in libero rhoncus viverra et eu purus. Etiam luctus eu massa
                id
                commodo. Nunc vel lectus non purus pulvinar feugiat id ut nulla. Nam auctor odio et ultrices auctor.
                Donec
                faucibus augue turpis. Nunc sodales elit vel purus placerat mattis. Aliquam et orci nisi. Suspendisse
                potenti. Nunc sodales pretium euismod. Curabitur porttitor commodo enim laoreet tincidunt. Vestibulum
                luctus
                lobortis feugiat. Curabitur vitae urna sem. Ut lectus nisi, dignissim ac cursus sit amet, ultricies ut
                metus. Vivamus massa ante, fringilla vitae mauris non, placerat semper turpis.

                Suspendisse fringilla consectetur iaculis. Suspendisse imperdiet diam dapibus enim elementum, ut
                pharetra
                felis semper. Quisque eu elementum nibh. In gravida massa ut dui ultricies hendrerit. Nunc eget magna
                elementum, egestas mi ut, tempor nulla. Pellentesque id augue non eros commodo convallis. Nullam ut
                sollicitudin ipsum, et efficitur velit. Etiam lobortis sapien vitae lacus sodales, a lobortis dolor
                elementum. Nunc et dignissim nibh. Maecenas et ipsum tempus, commodo mauris ac, hendrerit libero.

                Integer sit amet dapibus nulla, ut mattis eros. Donec tristique ut magna ut varius. Nullam ornare orci
                sollicitudin mi tempus elementum in sed ipsum. Duis mollis pulvinar sapien volutpat semper. Pellentesque
                placerat, dui vel commodo congue, elit nulla sagittis mauris, sed posuere ipsum risus vel massa.
                Suspendisse
                at ex in purus aliquet sollicitudin. Donec venenatis tellus nec risus rutrum, ac efficitur lorem ornare.
                Suspendisse tempus urna urna, eu tristique ligula consequat mollis. Integer nulla sapien, eleifend id
                tempus
                id, venenatis aliquet mauris. Curabitur iaculis elementum augue non tristique. Cras at malesuada lectus.
                Ut
                consectetur vulputate sollicitudin. Sed vitae finibus enim, sit amet vulputate ligula.
            </span>
        </div>
    </main>
    <footer>
        <h3>Agradecimentos</h3>
        <ul>
            <li>Alessandra Nascimento e Adriano Demétrio, meus pais</li>
            <li>Lara Nascimento, Rachel Demétrio e Gabriel Demétrio, meus irmãos</li>
            <li>Abraão Nascimento, meu tio, mentor, irmão mais velho, e amigo</li>
            <li>Vinicius de Souza, meu irmão de consideração, ao qual me apresentou a franquia Dark Souls, e me deu
                apoio para tal</li>
            <li>Luan Lemos, meu irmão de consideração, quem me ajuda a ter um convivio social excelente</li>
            <li>Wendell Ferraz, meu gestor na primeira empresa grande que trabelhei, ao qual me deu a primeira
                oportunidade de trabalho</li>
            <li>Weverton Rezende, meu outro gestor da mesma empresa, ao qual cuidou bem de mim e me ajudou a cumprir
                minha liberdade religiosa dentro da empresa</li>
            <li>Leonardo Garcia, chefe de setor que me ensinou muito sobre a vida</li>
            <!-- <li>Renato do Canal TaticaDS</li> -->
        </ul>
    </footer>
</body>

</html>